<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 背景图片 -->
    <div
      class="bg"
      style="background-image: url(https://static.xhxly.cn//1uPIAS.jpg)"
    ></div>
    <div
      class="bg blur"
      style="background-image: url(https://static.xhxly.cn//1uPIAS.jpg)"
    ></div>
  
    <!-- 音乐播放器主体结构 -->
    <div class="music-wrapper">
      <!-- 顶部栏 -->
      <div class="topBar">
        <div class="back"><i class="iconfont">&#xe61e;</i></div>
        <!-- 歌曲信息 -->
        <div class="info">
          <!-- 标题 -->
          <div class="title">
            {{title}}
          </div>
          <!-- 作者 -->
          <div class="author">
            {{author}}
          </div>
        </div>
        <div class="share"><i class="iconfont share">&#xe639;</i></div>
      </div>
  
      <!-- CD封面 -->
      <div class="main">
        <div
          class="CD"
					:style="'background-image: url(' + bgurl + ');\
					transform: rotate(' + rotateDeg + 'deg)'"
        ></div>
      </div>

      <!-- 播放音乐 -->
      <audio ref="player" :src="src" @canplay="handleCanPlay" @timeupdate="handleTimeUpdate"></audio>
  
      <!-- 进度条 -->
      <div class="progress">
        <div class="curTime">{{transferSecToTime(audio.currentTime)}}</div>
        <div class="progress-line">
          <div class="whole-line"></div>
          <div class="already-line" :style='"width:" + progress + "%"'></div>
          <div class="play-point" :style='"left:" + progress + "%"'></div>
        </div>
        <div class="AllTime">{{transferSecToTime(audio.duration)}}</div>
      </div>
  
      <!-- 底部控制条 -->
      <div class="toolBar">
        <div class="heart"><i class="iconfont share">&#xe68d;</i></div>
        <div class="last"><i class="iconfont share">&#xe6e1;</i></div>
        <div class="play" v-if="!isPlaying" v-on:click="playMusic"><i class="iconfont share">&#xe6ce;</i></div>
        <div class="pause" v-if="isPlaying" v-on:click="pauseMusic"><i class="iconfont share">&#xe643;</i></div>
        <div class="next"><i class="iconfont share">&#xe718;</i></div>
        <div class="list" @click="isVisible=true"><i class="iconfont share">&#xe6d3;</i></div>
      </div>

			<!-- 评论列表 -->
			<div class="comment-list" v-if="isVisible">
				<div class="comment-list__back" @click="isVisible=false">
					<i class="iconfont">&#xe61e;</i>
				</div>
				<div class="comment-list__count">
					评论（{{comments.length}}）
				</div>
				<div class="comment-list__item" v-for="comment in comments">
					<div class="comment-list__item-meta">
						<div class="comment-list__item-meta__name">
							{{comment.name}}
						</div>
						<div class="comment-list__item-meta__date">
							{{comment.createdAt}}
						</div>
					</div>
					<div class="comment-list__item-comment">
						{{comment.comment}}
					</div>
				</div>
			</div>
			
    </div>
  </div>
</body>
</html>
  